{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}


{% block page_content %}
    <h3>告警信息查询</h3>
    <div>
        <div class="input-group col-md-4" style="margin-top: 0px; positon:relative;float: left; margin: 1ex">
            <select class="selectpicker show-tick form-control" name="处理人" id="latest_editor">
                <option value="" selected="selected">请选择处理人</option>
                {% for x, y in operator %}
                    <option value={{ x }}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="input-group col-md-4" style="margin-top: 0px; positon:relative;float: left;margin: 1ex">
            <input type="text" class="form-control" placeholder="请输入查询内容" id="search_content">
        </div>

    </div>


    <div class="input-group" style="margin: 1ex;float: left">
        <button type="button" class="btn btn-default pull-right" id="daterange-btn">
            <i class="fa fa-calendar"></i>
            <span>时间</span>
            <i class="fa fa-caret-down"></i>
        </button>

    </div>

    <button class="btn btn-info btn-search" style="float: right;margin: 1ex" id="search" onclick="search()">查找</button>


    <table id="alarm_record_table" class="display">
        <thead>
        <tr>
            <th>编号</th>
            <th style="width: auto;">告警内容</th>
            <th>处理人</th>
            <th>处理时间</th>
            <th>呼叫次数</th>
            <th>告警时间</th>
            <th>详情</th>
            <th>处理</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody style="color:sienna;font-size:80%" id="alarm_content_body">
        </tbody>
    </table>


    <!-- 模态框（Modal） -->
    <div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">添加故障说明</h4>
                </div>
                <div class="modal-body">
                    <p>告警ID: <input type="text" name="id" id="id" readonly="true" style="border-style:none"/></p>
                    <p>被叫号码: <input type="text" name="called_phone" id="called_phone" readonly="true"
                                    style="border-style:none"/></p>
                    <p>呼叫状态: <input type="text" name="call_status" id="call_status" readonly="true"
                                    style="border-style:none"/></p>
                    <p>呼叫次数: <input type="text" name="call_times" id="call_times" readonly="true"
                                    style="border-style:none"/></p>
{#                    <p>{{ wtf.form_field(modal_form.body) }}</p>#}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="update()" data-dismiss="modal">提交更改</button>
                </div>

                <div class="holder">
                </div>
                <ul class="posts" id="itemContainer">
                </ul>
                <div class="holder">
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="attachment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">告警附加信息</h4>
                </div>
                <div class="modal-body">
                    <p>告警ID: <input type="text" name="id" id="attach_id" readonly="true" style="border-style:none"/></p>
                    <p id="attach_content"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->
{% endblock %}


{% block scripts %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='jPages-master/css/jPages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jPages-master/css/animate.css') }}">
    <script src="static/jPages-master/js/jPages.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/moment.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap-daterangepicker/2.1.25/daterangepicker.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8"
            src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

    <script>
        var mylang = {
                "sProcessing": "处理中...",
                "sLengthMenu": "显示 _MENU_ 项结果",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                "sInfoPostFix": "",
                "sSearch": "搜索:",
                "sUrl": "",
                "sEmptyTable": "表中数据为空",
                "sLoadingRecords": "载入中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上页",
                    "sNext": "下页",
                    "sLast": "末页"
                },
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            }

        <!--第三步初始化Datatables-->
        var table1 = $('#alarm_record_table').DataTable({
            "searching": false,
            "serverSide": true,
            "processing": true,
            "ordering": false,
            "destroy": true,
            "lengthChange": false,
            "ajax": {
                url: '/',
                type: 'POST'
            },
            language: mylang
        });
        $(document).ready(function () {
            table1.draw()
        });


        function search() {
            var latest_editor = $('#latest_editor').val();
            var search_content = $('#search_content').val();
            var search_date = $('#daterange-btn span').html();
            var myajax = {'latest_editor': latest_editor, 'search_content': search_content, 'search_date': search_date}
            table1.settings()[0].ajax.data = myajax
            table1.ajax.reload()
        }

        function attachmentInfo(obj) {
            $.ajax({
                type: "POST",
                url: "get_attachment",
                data: '{"id":"' + obj + '"}',
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    $('#attach_id').val(obj);
                    showcontent = msg['data'].replace(/\\n/g, '<br>');
                    $('#attach_content').html(showcontent);
                },
                error: function (xhr, msg, e) {
                    toastr.warning("系统繁忙");
                }
            });
        }

        function editInfo(obj) {
            var x = document.getElementsByName('postli');
            if (x.length > 0) {
                for (var i = x.length - 1; i >= 0; i--) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }

            document.getElementById('flask-pagedown-body').value = '';
            document.getElementById('itemContainer').style.minHeight = "0px";
            $('#id').val(obj);

            params = '{"alarm_id":"' + obj + '"}';
            $.ajax({
                type: "POST",
                url: "get_alarm_detail_info",
                data: params,
                dataType: 'text',
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    var msg_json = JSON.parse(msg);
                    msg_json = JSON.parse(msg_json);
                    $('#called_phone').val(msg_json['phoneNum']);
                    if (!msg_json['phoneNum']) {
                        $('#call_status').val('未呼叫');
                    }
                    else {
                        $('#call_status').val(msg_json['call_status']);
                    }
                    $('#call_times').val(msg_json['times']);
                },
                error: function (xhr, msg, e) {
                    toastr.warning("系统繁忙");
                }
            });
            $.ajax({
                type: "POST",
                url: "get_posted_body",
                data: params,
                dataType: 'text',
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    var msg_json = JSON.parse(msg);
                    msg_json = JSON.parse(msg_json);
                    $.each(msg_json, function (i) {
                        var my_li = document.createElement('li');
                        my_li.setAttribute('class', 'post');
                        my_li.setAttribute('name', 'postli');
                        var div1 = document.createElement('div');
                        div1.setAttribute('class', 'post-date');
                        div1.innerHTML = msg_json[i]['timestamp'];
                        var div2 = document.createElement('div');
                        div2.setAttribute('class', 'post-author');
                        div2.innerHTML = msg_json[i]['username'] + '(' + msg_json[i]['phoneNum'] + ')';
                        var div3 = document.createElement('div');
                        div3.setAttribute('class', 'post-body');
                        div3.innerHTML = msg_json[i]['body_html'].replace(/\n/g, '<br>');
                        my_li.appendChild(div1);
                        my_li.appendChild(div2);
                        my_li.appendChild(div3);
                        document.getElementById('itemContainer').appendChild(my_li);
                    })
                },
                error: function (xhr, msg, e) {
                    toastr.warning("系统繁忙");
                }
            });
        }
        $('#update').on('shown.bs.modal', function () {
            if (document.getElementsByName('postli').length > 0) {
                setTimeout(show_jpage, 50);
                function show_jpage() {
                    $("div.holder").jPages({
                        containerID: "itemContainer",
                        perPage: 5
                    });
                }
            }
        });

        function HTMerDel(alarm_id)
        {
            if(confirm("确定要删除该信息吗？删除将不能恢复！")) {
                $.ajax({
                type: "post",
                url: "delete_alarm_record",
                data: JSON.stringify({"alarm_id": alarm_id}, null, '\t'),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",

                success: function (msg) {
                    if (msg['status']==='OK') {
                        table1.draw(false);
                        toastr.success(msg['content']);
                    }
                    else {
                        toastr.warning(msg['content']);
                    }
                },
                error: function (xhr, msg, e) {
                    alert('error!!')
                }
            });
            }
            else {
                return false
            }
        }

        //提交更改
        function update() {
            //获取模态框数据
            var alarm_id = $('#id').val();
            var body = $('#flask-pagedown-body').val();
            if (body) {
                $.ajax({
                    type: "POST",
                    url: "post_body",
                    data: {"alarm_id": alarm_id, "body": body},
                    dataType: 'html',
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    success: function (result) {
                        toastr.info('提交成功');
                        table1.draw(false);
                        $("#update").modal('hide');
                        //setTimeout("location.reload()", 1000);
                    },
                    error: function (xhr, msg, e) {
                        toastr.warning("系统繁忙");
                    }
                });
            }
            else {
                toastr.warning("未输入任何内容")
            }
        }

        function init() {
            //定义locale汉化插件
            var locale = {
                "format": 'YYYY-MM-DD',
                "separator": " -222 ",
                "applyLabel": "确定",
                "cancelLabel": "取消",
                "fromLabel": "起始时间",
                "toLabel": "结束时间'",
                "customRangeLabel": "自定义",
                "weekLabel": "W",
                "daysOfWeek": ["日", "一", "二", "三", "四", "五", "六"],
                "monthNames": ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                "firstDay": 1
            };
            //初始化显示当前时间
            $('#daterange-btn span').html('2000-01-01 - 2100-12-31');
            //日期控件初始化
            $('#daterange-btn').daterangepicker(
                {
                    'locale': locale,
                    //汉化按钮部分
                    ranges: {
                        '所有时间': ['2000-01-01', '2100-12-31'],
                        '今日': [moment(), moment()],
                        '昨日': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        '最近7日': [moment().subtract(6, 'days'), moment()],
                        '最近30日': [moment().subtract(29, 'days'), moment()],
                        '本月': [moment().startOf('month'), moment().endOf('month')],
                        '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $("#daterange-btn span").html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
                }
            );
        };

        $(document).ready(function () {
            init();
        });

        // toastr options
        toastr.options = {
            "closeButton": true, //是否显示关闭按钮
            "debug": false, //是否使用debug模式
            "progressBar": false,
            "positionClass": "toast-top-center",//弹出窗的位置
            "showDuration": "300",//显示的动画时间
            "hideDuration": "1000",//消失的动画时间
            "timeOut": "2000", //展现时间
            "extendedTimeOut": "1000",//加长展示时间
            "showEasing": "swing",//显示时的动画缓冲方式
            "hideEasing": "linear",//消失时的动画缓冲方式
            "showMethod": "fadeIn",//显示时的动画方式
            "hideMethod": "fadeOut" //消失时的动画方式
        };
    </script>

{% endblock %}