{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block pagecontent %}
    <div class="row">
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-map-location"></i>
												</span>
                            <h3 class="m-portlet__head-text">
                                西区门1
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <img id="gate1_pic" alt="parking_entry" width="95%" src=""/>
                </div>
                <div class="m-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle">
                            <p id="gate1_name"></p>
                            ip: <p id="gate1_ip"></p>
                            方向: <p id="gate1_direction"></p>
                        </div>
                        <div class="col-lg-6 m--align-right">
                            <button type="submit" class="btn btn-brand" id="gate1_open">
                                Open
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-map-location"></i>
												</span>
                            <h3 class="m-portlet__head-text">
                                西区门2
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <img id="gate2_pic" alt="parking_entry" width="95%"/>
                </div>
                <div class="m-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle">
                            <p id="gate1_name"></p>
                            ip: <p id="gate2_ip"></p>
                            方向: <p id="gate2_direction"></p>
                        </div>
                        <div class="col-lg-6 m--align-right">
                            <button type="submit" class="btn btn-brand" id="gate2_open">
                                Open
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-map-location"></i>
												</span>
                            <h3 class="m-portlet__head-text">
                                西区门3
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <img id="gate3_pic" alt="parking_entry" width="95%"/>
                </div>
                <div class="m-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle">
                            <p id="gate1_name"></p>
                            ip: <p id="gate3_ip"></p>
                            方向: <p id="gate3_direction"></p>
                        </div>
                        <div class="col-lg-6 m--align-right">
                            <button type="submit" class="btn btn-brand" id="gate3_open">
                                Open
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-map-location"></i>
												</span>
                            <h3 class="m-portlet__head-text">
                                西区门4
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <img id="gate4_pic" alt="parking_entry" width="95%"/>
                </div>
                <div class="m-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle">
                            <p id="gate1_name"></p>
                            ip: <p id="gate4_ip"></p>
                            方向: <p id="gate4_direction"></p>
                        </div>
                        <div class="col-lg-6 m--align-right">
                            <button type="submit" class="btn btn-brand" id="gate4_open">
                                Open
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            let socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

            socket.on('test', function (msg) {
                console.log(msg)
            })

            socket.on('ws_test', function (msg) {
                alert(msg.content.gate + "有车辆进出");
                $('#' + msg.content.gate + '_pic').attr('src', msg.content.pic_path);
                $('#' + msg.content.gate + '_name').text(msg.content.gate_name);
                $('#' + msg.content.gate + '_ip').text(msg.content.camera_ip);
                $('#' + msg.content.gate + '_direction').text(msg.content.camera_type);
            });
            $('#gate1_open,#gate2_open, #gate3_open, #gate4_open').click(function () {

                let gate_id = $(this).attr('id');
                let gate = gate_id.split('_')[0];
                let camera_ip = $('#' + gate + '_ip').text();
                if (camera_ip) {
                    socket.emit('open gate', {'camera_ip': camera_ip});
                }
                else {
                    if (window.confirm("未识别到车辆，是否仍旧开闸?")) {
                        alert('已开闸');
                        socket.emit('open gate', {'gate': gate});
                    }
                    else {
                        alert('无车辆')
                    }
                }
            });

            socket.on('open_result', function (result) {
                alert(result.content.message)
            });
        });
    </script>
{% endblock %}