{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block pagecontent %}
    <div class="row">
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-map-location"></i>
												</span>
                            <h3 class="m-portlet__head-text">
                                西区门1
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <img id="entry_pic" alt="parking_entry" width="95%"/>
                </div>
                <div class="m-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle">
                            Portlet footer:
                        </div>
                        <div class="col-lg-6 m--align-right">
                            <button type="submit" class="btn btn-brand">
                                Open
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-map-location"></i>
												</span>
                            <h3 class="m-portlet__head-text">
                                西区门2
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <img id="entry_pic" alt="parking_entry" width="95%"/>
                </div>
                <div class="m-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle">
                            Portlet footer:
                        </div>
                        <div class="col-lg-6 m--align-right">
                            <button type="submit" class="btn btn-brand">
                                Open
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>
        <div class="col-lg-6">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-map-location"></i>
												</span>
                            <h3 class="m-portlet__head-text">
                                西区门3
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <img id="entry_pic" alt="parking_entry" width="95%"/>
                </div>
                <div class="m-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle">
                            Portlet footer:
                        </div>
                        <div class="col-lg-6 m--align-right">
                            <button type="submit" class="btn btn-brand">
                                Open
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
												<span class="m-portlet__head-icon">
													<i class="flaticon-map-location"></i>
												</span>
                            <h3 class="m-portlet__head-text">
                                西区门4
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <img id="entry_pic" alt="parking_entry" width="95%"/>
                </div>
                <div class="m-portlet__foot">
                    <div class="row align-items-center">
                        <div class="col-lg-6 m--valign-middle">
                            Portlet footer:
                        </div>
                        <div class="col-lg-6 m--align-right">
                            <button type="submit" class="btn btn-brand">
                                Open
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Portlet-->
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            let socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

            socket.on('connect', function () {
                socket.emit('cashier check');
            });

            socket.on('ws_test', function (msg) {
                if (msg.status === 'true') {
                    $('#entry_unit_price').text(msg.content.entry_unit_price);
                    $('#entry_number_plate').text(msg.content.number_plate);
                    $('#entry_time').text(msg.content.entry_time);
                    $('#pay_fee').text(msg.content.fee);
                    $('#parking_time').text(msg.content.totally_time);
                    $('#entry_pic').attr('src', 'http://' + document.domain + '/' + msg.content.entry_pic);
                    $('#entry_plate_number_pic').attr('src', 'http://' + document.domain + '/' + msg.content.entry_plate_number_pic);
                    $('#parking_record_id').text(msg.content.parking_record_id)
                }
                $('#exit_number_plate').text(msg.content.number_plate);
                $('#exit_time').text(msg.content.exit_time);
                $('#exit_pic').attr('src', 'http://' + document.domain + '/' + msg.content.exit_pic);
                $('#exit_number_plate_pic').attr('src', 'http://' + document.domain + '/' + msg.content.exit_plate_number_pic);
            });

            $('#paid').click(function () {
                alert('button id paid is clicked');
                let parking_record_id = $('#parking_record_id').text();
                let pay_fee = $('#pay_fee').text();
                if (parking_record_id && pay_fee) {
                    alert('emit to paid opening');
                    socket.emit('paid opening', {
                        'parking_record_id': parking_record_id,
                        'fee': pay_fee
                    });
                }
                else {
                    alert('无匹配车辆信息，不可点击')
                }

            });

            socket.on('paid result', function (result) {
                if (result.status === 'true') {
                    toastr.info(result.content);
                    socket.emit('cashier check')
                }
                else {
                    toastr.warning(result.content)
                }
            });
        });
    </script>
{% endblock %}